.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.container > div {
  border: 1px solid hsl(0, 0%, 65%);
  padding: 1rem;
}

.count {
  font-size: 1.3rem;
  font-weight: bold;
}

.title {
  margin-bottom: 1rem;
}
