.input {
  padding: 0.4rem 0.5rem;
  line-height: 1;
  border: 1px solid hsl(0, 0%, 50%);
  max-width: 25rem;
}

.input:focus {
  outline: none;
  border: 1px solid hsl(0, 0%, 5%);

  &::placeholder {
    transition: 0.3s;
    transform: translateX(-120%);
  }
}

.input.error {
  border: 1px solid hsl(0, 100%, 50%);
}
